* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif';
    font-weight: 100;
}

body {
    border-top: 4px solid #ffd864;
    border-bottom: 4px solid #ffd864;
    background-color: #ccc;
}

.container section {
    background: #fff;
}

/*
    Hero
*/
.hero {
    background: #ebebeb;
}

.hero > .container {
    display: block;
}

.hero > .container > .content {
    padding: 0;
    flex: 2;
}

.notebook {
    display: none;
    padding: 12em 0;
    margin-left: -5.3em;
    flex: 1;
}

.hero .logo {
    position: absolute;
    display: none;
    z-index: 2;
}

.hero .logo > img {
    height: 4.33em;
}

.hero .text {
    padding: 4em 2em 0;
    text-align: center;
}

.hero .text > h1,
.hero .text > h3 {
    color: #252525
}

.hero .text > h1 {
    font-size: 12vw;
    display: inline-block;
    position: relative;
    font-weight: 900;
}

.hero .text > h1:after {
    position: absolute;
    content: '';
    height: 7px;
    left: 5px;
    right: 5px;
    bottom: -2px;
    background: #ffd864;
}

.hero .text > h3 {
    padding: 1.2em 0;
    font-size: 6vw;
    max-width: 17em;
}

.hero .scroll-call {
    text-align: center;
    padding-bottom: 3em;
}

.hero .scroll-call > h3 {
    display: inline-block;
    padding: .4em 1.4em;
    text-transform: uppercase;
    font-size: 4vw;
    color: #7b7b7b;
    letter-spacing: .03em;
    border: 1px solid #7b7b7b;
}

.nav a {
    text-decoration: none;
    color: #454545;
    padding: .2em 1.4em;
}

.nav {
    background: rgb(255,218,217);
    background: linear-gradient(90deg, rgba(255,218,217,1) 0%, rgba(255,216,96,1) 100%);
    font-size: 8vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1em;
    position: relative;
    z-index: 1;
}

.nav::after {
    background: rgb(255,218,217);
    background: linear-gradient(90deg, rgba(255,218,217,1) 0%, rgba(255,216,96,1) 100%);
    content: '';
    height: 2em;
    position: absolute;
    bottom: 57px;
    left: -66px;
    right: 0;
    transform: rotate(-37deg);
    z-index: -1;
}

.nav img {
    display: none;
    height: 16px;
}

.nav .github {
    display: block;
    position: relative;
}

.nav a.github::before {
    content: 'MENU';
    font-size: 4vw;
    position: absolute;
    top: -1.6em;
}

.nav .report {
    display: none;
}

/*
    Demo
*/

.demo {
    display: flex;
    flex-direction: column;
}

.demo .content {
    margin-bottom: 3.13em;
}

.content {
    position: relative;
}

.demo > .content,
.demo > .text,
.demo > .article {
    flex: 1;
}

.demo > .text {
    order: 1;
    text-align: center;
}

.demo > .content {
    order: 2;
}

.demo > .text .sticky {
    padding: 4em 2em 0;
}

.demo > .text .sticky.first-sticky {
    padding: 1em 2em;
}

.demo > .text h1,
.demo > .text h1 > span {
    font-weight: 900;
}

.demo > .text h1 {
    font-size: 11vw;
    line-height: 1em;
}

.demo > .text h3 {
    font-size: 6vw;
    margin-top: 1.57em;
    font-weight: 100;
}

/*
    Tutorial demo
*/

.steps {
    margin: 0 auto;
    max-width: 84vw;
}

.step {
    padding: 0.31em;
}

.tutorial {
    background-color: #fff;
}

.tutorial h1,
.tutorial h3 {
    color: #333;
}

.tutorial .highlight {
    color: #544c96;
}

.tutorial .step-title {
    font-weight: 900;
    padding: 2em 0;
    font-size: 1.13em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

/*
    Thread demo
*/

.thread {
    background-color: #3a0027;
}

.thread h1,
.thread h3 {
    color: #fff;
}

.thread .highlight {
    color: #9e5353;
}

.thread > .content {
    padding: 6.25em 0;
}

.thread .comment-wrapper {
    max-width: 400px;
    margin: 0 auto;
}


.thread .comment-wrapper + .comment-wrapper {
    margin-top: 3.13em;
}

.thread .comment {
    background: #fff;
    padding: 0.62em;
    margin: 0.94em;
    position: relative;
}

.thread .comment:first-child:before {
    width: 0;
    height: 0;
    border-top: 25px solid white;
    border-right: 0px solid transparent;
    border-left: 25px solid transparent;
    font-size: 0;
    line-height: 0;
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
}

.thread .comment + .comment {
    margin-left: 2.5em;
}

/*
    Article
*/
.article {
    color: #fff;
}

.article, footer {
    background-color: #1b1722;
}

.article h1 {
    max-width: 8em;
}

.article .highlight {
    color: #dbbb5f;
}

.article > .content {
   padding: 6.25em 0 0;
}

.article article {
    margin: 0 auto;
    max-width: 500px;
    padding: 1.25em;
}

.article .rect,
.article .square,
.article .square-x2 {
    margin: 0.63em 0;
}

.article .square-left {
    margin: 0.63em 1.25em 0.63em 0;
}

.article .square-right {
    margin: 0.63em 0px 1.25em 0.63em;
}

.article .paragraph {
    padding: 0.94em 0;
}

/*
    Utils
*/

.sticky {
    position: sticky;
    top: 0;
}

.big-title {
    padding: 3em 0 .6em;
    background: #fff;
}

.big-title,
.big-title-2 {
    text-align: center;
}

.big-title > h1,
.big-title-2 > h1{
    position: relative;
}

.big-title > h1 {
    font-size: 7vw;
}

.big-title > h1 {
    font-weight: 900;
    display: inline-block;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.big-title > h1:after {
    content: '';
    background: #ffd864;
    width: 5em;
    height: .6em;
    position: absolute;
    bottom: 0;
    right: -8px;
    z-index: -1;
}

.big-title-2 {
    padding: 2em;
    margin: 0;
}

.big-title-2 > h1 {
    color: #fff;
    font-size: 12vw;
}

.big-title-2 > h1:after {
    content: '';
    background: #ffd864;
    width: 3em;
    height: .25em;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 1.3em);
}

footer .link-cards {
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .link-card {
    transform: scale(1);
    transition: transform 250ms ease-in-out;
    flex: 1;
}

footer .link-card:hover {
    transform: scale(1.1);
    z-index: 9999;
}

footer .link-card.github {
    color: #fff;
    background: #000;
    margin-top: 16px;
    max-height: 210px;
    padding: 1em;
    order: 2;
    font-size: .6em;
}

footer .link-cards .github > img {
    filter: invert(1);
    margin-top: 14px;
}

footer .link-cards .github > h1 {
    font-weight: 900;
    max-width: 300px;
}

footer .link-cards .docs,
footer .link-cards .github,
footer .credits-card {
    max-width: initial;
}

footer .link-cards .docs {
    padding: 1em;
    background: #ffd864;
    color: #3e3e3e;
    z-index: 2;
    order: 1;
}

footer .link-cards .docs > h2 {
    text-transform: uppercase;
    letter-spacing: .03em;
}

footer .link-cards .docs > h1 {
    padding: 1em 0;
}

footer .link-cards .docs > hr {
    margin: 1em auto;
    border: .5px solid #0a0a0a;
    width: 4.5em;
}

footer .credits-card {
    background: #fff;
    top: 10px;
    position: relative;
    padding: 1em 2em;
    text-align: center;
    margin-bottom: 10px;
    z-index: 1;
}

footer .credits-card .heart {
    color: #f1cc5f;
    margin-right: .3em;
}

footer .credits-card img.github {
    margin-left: .3em;
    vertical-align: middle;
}

footer .credits-card p {
    display: inline-block;
}

footer .cards-wrapper {
    padding: 5vw;
}



@media only screen and (min-width: 400px) {
    .nav {
        font-size: 6vw;
    }

    .nav a.github::before {
        font-size: 3vw;
    }

    .nav::after {
        height: 4em;
        bottom: 52px;
        left: -62px;
        left: -100px;
        transform: rotate(-28deg);
    }

    .hero .text > h1 {
        font-size: 10vw;
    }

    .hero .text > h3 {
        font-size: 5vw;
    }

    .hero .scroll-call > h3 {
        font-size: 3vw;
    }

    footer .cards-wrapper {
        padding: 20vw;
    }
}

@media only screen and (min-width: 636px) {
    .nav-wrapper {
        display: flex;
        align-items: center;
        padding-top: 2em;
    }

    .nav {
        padding: .3em;
        width: 50vw;
        height: 2em;
        font-size: 1em;
        font-size: 1.3em;
        align-items: center;
        flex: 1;
    }

    .nav::after {
        content: none;
    }

    .nav img {
        display: block;
    }

    .nav .github {
        display: none;
    }

    .nav a {
        padding: 0 1.4em;
    }

    .nav .report {
        display: block;
    }

    .nav,
    .demo {
        flex-direction: row;
    }

    .hero > .container {
        display: flex;
    }

    .hero .text {
        padding: 4em 6em 0;
        text-align: initial;
    }

    .hero .text > h1 {
        font-size: 6vw;
    }

    .hero .text > h3 {
        font-size: 3vw;
    }

    .hero .scroll-call {
        text-align: initial;
        padding: 0 6em 6em;
    }

    .hero .scroll-call > h3 {
        font-size: .9em;
    }

    .hero > .container > .content {
        padding: 2em;
    }

    .hero .logo {
        display: block;
    }

    .notebook {
        display: block;
        margin-left: -6em;
        position: absolute;
    }

    .notebook img {
        height: 200px;
    }

    .big-title {
        padding: 6em 4em 3em;
    }

    .big-title,
    .big-title-2 {
        text-align: initial;
    }

    .big-title > h1:after {
        right: -22px;
    }

    .big-title > h1 {
        font-size: 3em;
    }

    .big-title-2 {
        padding: 6em;
        margin-bottom: -80px;
    }

    .big-title-2 > h1 {
        font-size: 4em;
    }

    .big-title-2 > h1:after {
        left: 0;
    }

    .demo > .text {
        text-align: initial;
    }

    .demo > .text h1 {
        font-size: 2.5em;
    }

    .demo > .text h3 {
        font-size: 1em;
    }

    .demo > .text {
        order: 2;
    }

    .demo > .text .sticky {
        padding: 5.1em 2.5em;
    }

    .demo > .content {
        order: 1;
    }

    .steps {
        max-width: 42vw;
    }

    .article > .content {
       padding: 6.25em 0;
    }

    footer .link-cards {
        flex-direction: row;
        text-align: initial;
    }

    footer .link-cards .docs > hr {
        margin: 1em 0 0;
    }

    footer .link-cards .github,
    footer .link-card .docs {
        order: initial;
    }

    footer .link-cards .docs {
        max-width: 400px;
        padding: 5em;
    }

    footer .link-cards .github {
        margin-top: 100px;
        padding: 2em;
        font-size: .75em;
    }

    footer .credits-card {
        top: -102px;
        padding: 2.5em;
        margin: 0;
        text-align: left;
    }

    footer .cards-wrapper {
        padding: 5vw;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 860px) {
    .demo > .text h1 {
        font-size: 3.6em;
    }

    .demo > .text h3 {
        font-size: 1.2em;
    }

    .hero .text {
        padding: 4em 12em 0;
    }

    .hero .scroll-call {
        padding: 0 12em 6em;
    }

    .hero .text > h1 {
        font-size: 4em;
    }

    .hero .text > h3 {
        font-size: 1.7em;
    }

    .notebook img {
        height: 220px;
    }
}

@media only screen and (min-width: 1000px) {
    .hero .text {
        padding: 4em 0 .1em;
    }

    .hero > .container > .content {
        padding: 5em;
    }

    .notebook {
        position: relative;
        margin: 0 -4em;
        padding: 12em 0 6em;
    }

    .notebook img {
        height: 250px;
    }

    .hero .scroll-call {
        padding: 0;
    }

    .nav-wrapper {
        padding: 0;
    }

    .steps {
        max-width: 28vw;
    }

    footer .cards-wrapper {
        padding: 0 13em;
    }
}

@media only screen and (min-width: 1500px) {
    .demo > .text h1 {
        font-size: 5.2vw;
    }

    .demo > .text h3 {
        font-size: 1.8vw;
    }

}